<h1 class="display-3">Data Entry</h1>
<table class="table table-striped">
<tr>
<th>Author</th>
<th>Content</th>
</tr>
<tr>
<td> <%= @data_entry.author.name %></td>
<td><%= @data_entry.content %></td>
</tr>
</table>

